*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: #01000c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
  color: #296641; /* Base color */
  font-size: 55px;
  margin: 80px 0;
  font-weight: bold; /* Make text bold */
  text-transform: uppercase; /* Optional: Uppercase text for better neon effect */
  text-shadow: 
      0 0 5px #cc0b62, /* Inner glow */
      0 0 10px #cc0b62, /* Middle glow */
      0 0 20px #cc0b62, /* Outer glow */
      0 0 40px #154974, /* Far outer glow */
      0 0 80px #343396; /* Extreme outer glow */
  animation: neonGlow 1.5s infinite alternate; /* Neon glow animation */
  transform: perspective(500px) rotateX(20deg); /* 3D effect */
}

/* Neon glow animation */
@keyframes neonGlow {
  0% {
      text-shadow: 
          0 0 5px #cc0b62,
          0 0 10px #cc0b62,
          0 0 20px #cc0b62,
          0 0 40px #cc0b62,
          0 0 80px #cc0b62;
  }
  100% {
      text-shadow: 
          0 0 10px #cc0b62,
          0 0 20px #81a20b,
          0 0 40px #cc0b62,
          0 0 80px #cc0b62,
          0 0 120px #d75e01;
  }
}
.swiper {
    width: 80%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
  }